body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Source Sans Pro', sans-serif;
  color: $color-text;
}

.container {
  width: 1452px;
  margin: 0 auto;
}