footer {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
  font-weight: 900;
  letter-spacing: 0.075em;
  color: $color-footer;
  text-transform: uppercase;
  @include mediaTablet {
    font-size: 1em;
  }
  @include mediaMobile {
    font-size: 0.6em;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4em 0 8em;

    li {
      list-style: none;
      padding: 0 1em;
      border-right: 2px solid $color-footer;

      &:last-child {
        border: none;
      }

      a {
        color: $color-footer;
        text-decoration: none;
        border-bottom: 1px dotted $color-footer;
        transition: color 0.2s ease-in-out, border 0.2s ease-in-out;

        &:hover {
          color: $color-hover;
          border: none;
        }
      }
    }
  }
}