.main-news {
  background-color: $color-white;
  text-align: center;

  .main-news__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8em 8em 6em 8em;

    .main-news_date {
      font-family: "Merriweather", serif;
      font-size: 1.2em;
      font-weight: 300;
      color: $color-text;
      margin-bottom: 4rem;

      span {
        display: flex;
        justify-content: center;
        align-items: center;

        &::after, &::before {
          content: "";
          display: block;
          width: 432px;
          height: 2px;
          background-color: $color-date-border;
        }

        &::after {
          margin-left: 3em;
        }

        &::before {
          margin-right: 3em;
        }
      }
    }

    .main-news__head {
      margin-bottom: 2rem;
      a {
        font-size: 3.4em;
        line-height: 1.1;
      }
    }

    .main-news__text {
      font-family: "Merriweather", serif;
      font-size: 1.2em;
      font-weight: 300;
      line-height: 2.375;
      font-style: italic;
      margin-bottom: 4rem;
    }

    .main-news__image {
      margin-bottom: 4rem;
    }

    .main-news__button {
      font-size: 1.2em;
      padding: 1.25em 2.75em;
    }
  }
}