nav {
  background-color: $color-bg-nav;
  display: flex;
  justify-content: space-between;
  height: 5em;

  .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-main {
    a {
      display: inline-block;
      color: $color-white;
      text-transform: uppercase;
      text-decoration: none;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1em;
      font-weight: 900;
      letter-spacing: .07em;
      padding: 1.87em 2em;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        background-color: $color-bg-nav-hover;
      }
    }

    .nav-main__active {
      background-color: $color-white;
      color: $color-text;

      &:hover {
        color: $color-hover;
        background-color: $color-white;
      }
    }
  }

  .nav-icons {
    margin-right: 2em;

    a {
      display: inline-block;
      text-decoration: none;
      margin: 0 1.25rem;
      color: $color-white;
      font-size: 1.7em;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        color: $color-hover;
      }
    }
  }
}